body {
    background-color: black;
}

.me {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.bold {
    color: orange;
    text-decoration: underline;
}